@mixin headingStyles {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  letter-spacing: 1.2px;
  font-weight: 400;
}

$nav_border_right_color: rgb(29, 80, 142);
$nav_hilight_color: rgba(29, 80, 142, 0.4);
$nav_hover_color: rgba(29, 80, 142, 0.2);

$special_font: "Montserrat", Helvetica, Arial, sans-serif;

@mixin mainBGColorWithOpacity($opacity) {
  background-color: rgba(29, 80, 142, $opacity);
}

@mixin mainTextColorWithOpacity($opacity) {
  color: rgba(29, 80, 142, $opacity);
}

body {
  font-family: georgia, "times new roman", serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
}

.video-wrapper {
	position: relative;
	width: 100%;
	z-index: -100;
}

video { 
	position: relative;
	width: 100%;
	opacity: 0.8;
	z-index: -100;
    display: block;
}

.landing-header {
  position: absolute;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 20%;
  transform: translateY(-50%);
  z-index: 1;
  @include headingStyles;
  .landing-title {
  	font-family: $special_font;
  	font-size: 4rem;
  	text-align: center;
  	color: rgba(255,255,255,0.7);
  }
  .landing-descr {
  	color: rgba(255,255,255,0.7);
  	font-weight: 400;
  }
}

.landing-overlay {
	position: absolute;
	top: 0;
	left:0;
	padding: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

article{
  max-width: 650px;
  width: auto;
  text-align: left;
  margin: 3rem auto;
  padding-top: 0px;
  line-height: 1.5;
  h1 {
    @include headingStyles;
    @include mainTextColorWithOpacity(1);
  }
  .byline {
    font-family: $special_font;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
  blockquote{
    padding-left: 15px;
    float: left;
    max-width: 500px;
    margin: 2rem 4rem;
    margin-left: -100px;
    border-left: 4px solid $nav_hilight_color;
    @include headingStyles;
    font-size: 2rem;

    aside {
    	font-size: 1rem;
    	text-align: right;
    }
  }
  .subhead {
  	font-weight: 600;
  	font-family: $special_font;
  }
  blockquote.right {
  	border-left: none;
  	border-right: 4px solid $nav_hilight_color;
  }
}

#articlediv {
  margin-left: 290px;
  padding: 1em;
}


p {
  display: block;
}

.first-letter {
  float: left;
  font-weight: 600;
  font-size: 80px;
  line-height: 60px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 10px;
  @include mainTextColorWithOpacity(0.5);
}

//left figure
figure{
  display: inline-block;
  float: left;
  clear: both;
  width: 80%;
  margin: 5%;
  max-width: none;
  margin-left: -100px;

  .title{
    margin: 0.75rem 0;
    @include headingStyles;
  }
}

article .right{
    float: right;
    margin: 5%;
    margin-right: -100px;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

figcaption{
  color: #222;
  font-size: 15.75px;
  display: block;
  .less{
    font-size: 0.9rem;
    color: grey;
    line-height: 1.5;
    font-style: italic;
    font-family: sans-serif;
  }
}

#sidebar h2 {
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  font-size: 2rem;
  font-family: Georgia;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.9rem;
}

#sidebar {
  width: 100%;
  z-index: 1001; /* need to get on top of leaflet */
  position: fixed;
  top: 0;
  left: 0;

  #sidebar-logo {
    color: black;
    font-weight: 100;
    font-family: $special_font;
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px;
    letter-spacing: 1px;
	@include mainTextColorWithOpacity(1);
  }
  #print-version, #db-presents,#mute{
	font-size: 0.9rem;
	bottom: 0;
	text-align: center;	
	border-top: 2px solid $nav_border_right_color;
  }
  #sidebar-expand {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    background-color: #444;
    font-family: $special_font;
    .expand-control {
      float: right;
      display: block;
      transition: 0.25s transform, 0.25 top;
      -moz-transition: 0.25s transform, 0.25 top;
      -webkit-transition: 0.25s transform, 0.25 top;
      width: 0px;
      display: block;
      border: 5px solid transparent;
      border-left: 5px solid white;
      position: relative;
      top: 6px;
      left: -4px;
      transform: rotate(0.25turn);
      -moz-transform: rotate(0.25turn);
      -webkit-transform: rotate(0.25turn);
    }
  }
  &.expanded #sidebar-expand .expand-control {
    transform: rotate(0.75turn);
    -moz-transform: rotate(0.75turn);
    -webkit-transform: rotate(0.75turn);
    top: 2px;
  }
  nav {
    img{
      padding: 1px;
      height: 25px;
    }
    display: none;
    h2 {
      border: none;
      line-height: 10px;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 0.8rem;
      color: #444;
      text-align: right;
      z-index: 1001; /* need to get on top of leaflet */
    }
  }
  &.expanded nav {
    display: block;
  }
  nav .nav-item, #mute {
    display: block;
    width: 100%;
    color: black;
    padding: 7px 10px;
    display: block;
    width: 100%;
    @include headingStyles;

    &:hover {
      background-color: $nav_hover_color;
    }
    &.active {
      background-color: $nav_hilight_color;
      border-right: 4px solid $nav_border_right_color;
      font-weight: 400;
    }

  }
}

footer {
	font-size: 0.8rem;
	text-align: center;
    font-family: $special_font;
    color: grey;
    margin-top: 1rem;
}

// START RESPOND.CSS

// MOBILE SCREENS
@media only screen and (max-width: 65em) {
  #sidebar {
  	  background-color: rgba(242, 242, 242, 1);
  }
  nav {
    text-align: center;
    h2 {
      text-align: center!important;
    }
  }
  figure {
    width: 100%;
    margin: auto;
    padding: 1rem 0;

    .right {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
    }
  }

  .landing-header {
  	left: 0;
  }

  article  {
    blockquote {
      float: none;
      max-width: 100%;
      margin: 1em auto 1em auto;
    }

    .right {
    	float: none;
        max-width: 100%;
        margin: 1em auto 1em auto;
    }
  }

  #articlediv {
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 0px;
  }
}

// LARGE SCREENS
@media only screen and (min-width: 65.063em) {
  #sidebar {
    width: 220px;
    height: 100%;
    z-index: 1001; /* need to get on top of leaflet */
    position: fixed;
    left: 15px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: rgba(242, 242, 242, 0.5);

    nav {
      display: block;
      .nav-item {
        padding: 8px 12px;
        text-align: right;
      }
    }
    #sidebar-logo {
      font-size: 1.8rem;
      line-height: 2.5rem;
      padding: 20px;
      margin-bottom: 10px;
      letter-spacing: 0;
    }
    #sidebar-expand {
      display: none;
      font-family: $special_font;
    }
  }
}

// END RESPOND.CSS

.my-gallery {
  width: 100%;
  float: left;
  img {
    width: 100%;
    height: auto;
  }
  figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
  }
  figcaption {
    display: none;
  }
}

